* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
}

::-webkit-scrollbar {
  width: 0;
  background: none;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

$bgc-color: cyan;
